<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>652793822272-da0i841durf2r8sgu7fulbnli6dhq22h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.652793822272-da0i841durf2r8sgu7fulbnli6dhq22h</string>
	<key>API_KEY</key>
	<string>AIzaSyBNVtv2BjS7Hvdr3m0nctiHS0FTePJn5gs</string>
	<key>GCM_SENDER_ID</key>
	<string>652793822272</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-a5e53</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-a5e53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:652793822272:ios:1b9c707a69307ac12073a5</string>
</dict>
</plist>